@import "./variables.scss";

@font-face {
  font-family: 'mark_otthin';
  src: url('../assets/fonts/markot-thin-webfont.woff2') format('woff2'),
       url('../assets/fonts/markot-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    a {
        text-decoration: none;
        font-family: 'mark_otthin';
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
    }
    a:hover {
      opacity: 0.5;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: $primary-color;
        height: 60px;
        padding: 0 20px;
    }
}

@media screen and (min-width: 1078px) {
    .btn_animate {
      display: none;
    }
}

@media screen and (max-width: 1078px) {
    .navbar nav {
        justify-content: flex-start;
    }
    .navbar .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-right: 20px;
    }
}

.collapsed {
    display: flex;
    list-style: none;
    li:not(:first-child) {
      padding-left: 20px;
    }
    a {
      color: #FFFFFF;
    }
    @media screen and (max-width: 1078px) {
        display: none;
    }
}

.nav_collapsed {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    
    li:not(:first-child) {
      border-top: 1px solid #FFFFFF;
    }
  
    li {
      padding: 12px 20px;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      white-space: nowrap;
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100vh;
    }
  
    .nav_content {
      background: $primary-color;
      margin: 0 40px;
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
    }
  
    @media screen and (min-width: 1078px) {
      display: none;
    }
}

.cart_content {
    display: flex;
    align-items: center;
    img {
        margin-left: 20px;
    }
}