@font-face {
    font-family: 'mark_otbold';
    src: url('../assets/fonts/markot-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/markot-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark_otbook';
    src: url('../assets/fonts/markot-book-webfont.woff2') format('woff2'),
         url('../assets/fonts/markot-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark_otregular';
    src: url('../assets/fonts/markot-webfont.woff2') format('woff2'),
         url('../assets/fonts/markot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    padding-top: 60px;
}

.section_content
.section_content_child:first-child {
    background: black !important;
    position: relative;
    height: 787px;
    img {
        height: 100%;
        width: 100% !important;
        object-fit: cover;
    }
    .title_content {
        align-items: center;
        position: absolute;
        bottom: 220px;
        right: 100px;
        width: 332px !important;
        .info_content {
            width: 100%;
            height: 199px;
            border-radius: 10px;
            padding: 0 20px !important;
            background: #3A3A3C;
            filter: opacity(62%);
        }
        h1 {
            font-family: "mark_otregular" !important;
            font-size: 32px !important;
            color: #FFFFFF !important;
        }
        p {
            color: #FFFFFF !important;
            margin: 10px 0px !important;
            padding: 0 !important;
        }
    }
    .button {
        position: absolute;
        bottom: -120px;
        margin: 30px 0 !important;
    }
    strong {
        font-weight: 100 !important;
    }
    @media screen and (max-width: 1078px) {
        height: 578px;
        .title_content {
            right: 50%;
            transform: translateX(50%);
            bottom: 120px;
        }
    }
}

.section_content
.section_content_child:nth-child(2n) {
    background: #FFFFFF;
    display: flex;
    width: 100%;
    img {
        width: 50%;
    }
    .button {
        text-align: center;
        margin: 40px 0 40px;
    }
    button {
        font-family: 'mark_otbold';
        font-size: 24px;
        height: 60px;
        width: 330px;
        background: #F09291;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    button:hover {
        opacity: 0.5;
    }
    .title_content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            text-align: center;
            font-family: 'mark_otbook';
            font-weight: 500;
            color: #47929C;
            font-size: 40px;
            margin: 20px 0 0;
        }
        p, ul, h2 {
            padding: 0 100px;
        }
        h2 {
            font-family: 'mark_otregular';
            font-size: 28px;
            color: #47929C;
            margin: 0;
        }
        p {
            font-family: "mark_otregular";
            font-size: 18px;
            color: #535353;
            line-height: 1.43;
            margin: 30px 0 0;
        }
    }
    @media screen and (max-width: 1078px) {
        flex-direction: column;
        .title_content {
            width: 100%;
            padding: 0;
            p, h2 {
                padding: 0 30px;
            }
            ul {
                padding-left: 52px !important;
            }
        }
        img {
            width: 100%;
        }
    }
}
.section_content
.section_content_child:nth-child(2n+1) {
    background: #F0F2F2;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    img {
        width: 50%;
    }
    .button {
        text-align: center;
        margin: 40px 0 40px;
    }
    button {
        font-family: 'mark_otbold';
        font-size: 24px;
        height: 60px;
        width: 330px;
        background: #F09291;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    button:hover {
        opacity: 0.5;
    }
    .title_content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            text-align: center;
            font-family: 'mark_otbook';
            font-weight: 500;
            color: #47929C;
            font-size: 40px;
            margin: 20px 0 0;
        }
        p, ul, h2 {
            padding: 0 100px;
        }
        p {
            font-family: "mark_otregular";
            font-size: 18px;
            color: #535353;
            line-height: 1.43;
            margin: 30px 0 0;
        }
    }
    @media screen and (max-width: 1078px) {
        flex-direction: column;
        .title_content {
            width: 100%;
            padding: 0;
            p, ul, h2 {
                padding: 0 30px;
            }
        }
        img {
            width: 100%;
        }
    }
}

.title_content ul {
    padding-left: 135px !important;
    margin: 30px 0;
    list-style-type: upper-alpha;
    li::marker {
        display: inline-block;
        font-family: "mark_otregular";
        font-size: 28px;
        color: #47929C;
        font-weight: bold;
    }
    li {
        margin: 20px 0;
        font-family: 'mark_otregular';
        font-size: 24px;
        color: #535353;
        line-height: 1.43;
    }
}

@media screen and (max-width: 1078px) {
    .section_content_child:nth-child(2) {
        align-items: center;
        img {
            padding: 20px;
            width: 90% !important;
        }
    }
}